name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  Build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.8'
          - '3.12'
    steps:
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          python-version: '${{ matrix.python-version }}'
      - uses: actions/checkout@v6
      - run: uv run --all-extras pytest -vvv --cov .
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      - run: uv build  # Test building wheel and sdist

  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          cache-dependency-glob: ".github/workflows/*.yml"
          cache-suffix: pre-commit-uv
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-uv-v1-${{ hashFiles('.pre-commit-config.yaml') }}
      - run: uvx --with=pre-commit-uv pre-commit run --all-files --show-diff-on-failure --color=always
